{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "useBuiltIns": "entry",
                    "corejs": {
                        "version": 3
                    }
                },
                "preset-react": {},
                "preset-typescript": {},
                "plugin-proposal-class-properties": {},
                "plugin-proposal-object-rest-spread": {},
                "plugin-transform-runtime": {},
                "styled-jsx": {}
            }
        ]
    ],
    "plugins": []
}
